@charset "utf-8";

@font-face {
	font-family: 'adm';
	font-style: normal;
	src: url('fonts/Arita-dotum(TTF)-Medium.eot');
	src: url('fonts/Arita-dotum(TTF)-Medium.eot?#iefix')
		format('embedded-opentype'), url('fonts/Arita-dotum(TTF)-Medium.woff')
		format('woff');
}

@font-face {
	font-family: 'adsb';
	font-style: normal;
	src: url('fonts/Arita-dotum(TTF)-SemiBold.eot');
	src: url('fonts/Arita-dotum(TTF)-SemiBold.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/Arita-dotum(TTF)-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'nbg';
	font-style: normal;
	src: url('fonts/NanumBarunGothic.eot');
	src: url('fonts/NanumBarunGothic.eot?#iefix')
		format('embedded-opentype'), url('fonts/NanumBarunGothic.woff')
		format('woff');
}

@font-face {
	font-family: 'nbgb';
	font-style: normal;
	src: url('fonts/NanumBarunGothicBold.eot');
	src: url('fonts/NanumBarunGothicBold.eot?#iefix')
		format('embedded-opentype'), url('fonts/NanumBarunGothicBold.woff')
		format('woff');
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	-webkit-overflow-scrolling: auto;
}

body {
	width: auto;
	min-width: 320px;
	height: auto;
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	color: #000;
	background-color: #fff;
	font-family: 'nbg', Arial, dotum, sans-serif;
	-webkit-text-size-adjust: none;
}

html, body {
	width: 100%;
	height: 100%;
}

legend {
	
}

div, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, p, form, fieldset,
	input, table, tr, th, td, button, textarea, select {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}

img {
	border: 0;
	vertical-align: top;
}

hr {
	display: none;
}

ul, ol, dl, dt, dd, li {
	list-style: none;
}

table, th, td {
	border-collapse: collapse;
	border-spacing: 0;
	font-weight: normal;
}

caption {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	height: 0;
	font-size: 0;
	line-height: 0;
}

fieldset, blockquote, iframe, button {
	border: none;
}

i, em, u, cite {
	font-style: normal;
}

p {
	vertical-align: middle;
}

strong, em, b {
	font-weight: normal;
}

a {
	color: #000;
	text-decoration: none;
}

button {
	background: transparent;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: none;
	border-image-width: 0;
}

button:focus {
	outline: #666 dotted 1px;
}

button, input[type="submit"], input[type="button"], input[type="reset"]
	{
	cursor: pointer;
	-webkit-appearance: none;
}

section, nav, article, aside, header, footer, main {
	display: block;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-inner-spin-button
	{
	display: none;
}

input[type="date"], input[type="text"], input[type="search"], input[type="tel"],
	input[type="number"], input[type="submit"], input[type="password"] {
	font-size: 14px;
	color: #444;
	font-family: 'nbg', Arial, dotum, sans-serif;
	-webkit-appearance: none;
	border-radius: 0
}

input[type="text"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder,
	input[type="password"]::-webkit-input-placeholder {
	color: #959595;
}

input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder,
	input[type="password"]::-moz-placeholder {
	color: #959595;
}

input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder,
	input[type="password"]::-moz-placeholder {
	color: #959595;
}

input[type="text"]:-moz-placeholder, input[type="tel"]:-moz-placeholder,
	input[type="password"]:-moz-placeholder {
	color: #959595;
}

input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder,
	input[type="password"]:-ms-input-placeholder {
	color: #959595;
}

textarea::-webkit-input-placeholder {
	color: #959595;
}

textarea::-moz-placeholder {
	color: #959595;
}

textarea::-moz-placeholder {
	color: #959595;
}

textarea:-moz-placeholder {
	color: #959595;
}

textarea:-ms-input-placeholder {
	color: #959595;
}

::-ms-clear, ::-ms-reveal {
	display: none;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner, input[type="file"]>input[type="button"]::-moz-focus-inner
	{
	border: 0;
	padding: 0;
	margin: 0;
}

input[disabled] {
	cursor: not-allowed;
}

select, textarea, button {
	color: #666;
	font-family: 'nbg', Arial, dotum, sans-serif;
	-webkit-appearance: none;
	border-radius: 0
}

input[type="text"], input[type="tel"], input[type="password"] {
	padding: 15px 0 14px 10px;
	width: 100%;
	height: 46px;
	line-height: 15px;
	border: 1px solid #aaa;
	vertical-align: middle;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="password"]:focus
	{
	border-color: #00578d;
	background-color: #f8f8f8;
	outline: 0;
}

textarea {
	padding: 15px;
	width: 100%;
	font-size: 14px;
	line-height: 1.5em;
	border: 1px solid #e1e1e1;
	resize: none;
}

input[type="text"], input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
}

.inner {
	position: relative;
	margin: 0 auto;
	max-width: 1260px;
	padding: 0 30px;
}

.fc_b {
	color: #004f9e;
}

.ta_r {
	text-align: right;
}

body.y_hid {
	overflow-y: hidden;
}

/* IR */
.screen_out {
	position: absolute;
	overflow: hidden;
	text-indent: -999em;
	width: 1px;
	height: 1px;
	font-size: 1px;
}

/* float clear */
.clearfix:after {
	clear: both;
	display: block;
	content: "";
	height: 0;
	visibility: hidden;
}

* html .clearfix {
	height: 1px;
}

.clearfix {
	display: block;
	min-height: 1px;
}

/* selectric */
.dSelect {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 100%;
}

.dSelect select {
	width: 100%;
	padding: 0 26px 0 10px;
	height: 46px;
	line-height: 46px;
	border: 1px solid #aaa;
	background: #fff url(../images/common/bg_select.gif) no-repeat right
		center;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.dSelect select.off {
	color: #aaa;
}

.dSelect select:focus {
	border-color: #00578d;
}

.dSelect select option {
	color: #666;
}

.dSelect select option.select_label {
	background-color: #f5f5f5;
}

.dSelect.v2 select {
	padding-left: 8px;
	height: 30px;
	line-height: 30px;
}

/* checkbox, radio */
.dCheckbox, .dRadio {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

input+label {
	cursor: pointer;
	vertical-align: top;
	line-height: 15px;
}

.no_label+label:before {
	margin-right: 0;
}

input[disabled]+label {
	cursor: not-allowed;
}

input[type=radio], input[type=checkbox] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 13px;
	height: 13px;
}

input[type=radio]+label:before {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 13px;
	height: 13px;
	margin-right: 5px;
	vertical-align: top;
	content: '';
	background: url(../images/ico/ico_radio_off.png) no-repeat 0 0;
	z-index: 1;
}

input[type=radio]:checked+label:before {
	background: url(../images/ico/ico_radio_on.png) no-repeat 0 0;
}

input[type=radio][disabled]+label:before {
	background: url(../images/ico/ico_radio_dis.png) no-repeat 0 0;
}

input[type=radio][disabled][checked]+label:before {
	background: url(../images/ico/ico_radio_dc.png) no-repeat 0 0;
}

input[type=checkbox]+label:before {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 13px;
	height: 13px;
	margin-right: 5px;
	vertical-align: top;
	content: '';
	background: url(../images/ico/ico_chk_off.png) no-repeat 0 0;
	z-index: 1;
}

input[type=checkbox]:checked+label:before {
	background: url(../images/ico/ico_chk_on.png) no-repeat 0 0;
}

input[type=checkbox][disabled]+label:before {
	background: url(../images/ico/ico_chk_dis.png) no-repeat 0 0;
}

input[type=checkbox][disabled][checked]+label:before {
	background: url(../images/ico/ico_chk_dc.png) no-repeat 0 0;
}

input+label.no_label {
	font-size: 0;
}

input+label.no_label:before {
	margin-right: 0;
}

/* button */
.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 15px 10px 14px;
	min-width: 120px;
	line-height: 16px;
	font-size: 14px;
	color: #000;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

.btn.gray {
	background-color: #f9f9f9;
}

.btn.dark_gray {
	background-color: #a4a4a4;
	color: #fff;
}

.btn.light {
	background-color: #fff;
}

.btn.yellow {
	background-color: #4688cc;
	border-color: #00568d;
	color: #fff;
}

.btn.dark {
	color: #fff;
	background-color: #2a2313;
	border-color: #2a2313;
}

.btn.s_btn {
	padding: 7px 10px 7px;
	min-width: 90px;
}

button.btn {
	padding: 16px 10px 16px;
	min-width: 140px;
	font-size: 16px;
	line-height: 16px;
}

.processBtn {
	text-align: center;
}

.processBtn.type_R {
	padding-top: 20px;
	text-align: right;
}

.processBtn .btn {
	margin-left: 2px;
	padding: 23px 0;
	min-width: 260px;
	font-size: 20px;
	line-height: 22px;
}

.btn_more {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 5px 23px 5px 9px;
	line-height: 1;
	border: 1px solid #e0e0e0;
	font-size: 13px;
	color: #111;
	background-color: #fff;
}

.btn_more:after {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -4px;
	width: 5px;
	height: 7px;
	background: url(../images/sub/bg_btn_more_w.png) no-repeat 0 0;
	content: '';
}

/* err */
input[type="text"].err, input[type="tel"].err, input[type="password"].err,
	.err {
	border-color: #df2c2c;
}

.err_txt {
	padding: 9px 0 9px 5px;
	color: #df2c2c;
	font-size: 13px;
}

/* layout */
#wrap {
	padding-top: 140px;
}

#header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #c3c4c8;
	z-index: 1000;
	-webkit-box-shadow: 0 0 15px 0 #ccc;
	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 0 0 15px 0 #ccc; /* Firefox 3.5 - 3.6 */
	box-shadow: 0 0 15px 0 #ccc;
}

#header .top_Box {
	background-color: #38393d;
	color: #fff;
}

#header .top_Box .inner {
	padding-top: 13px;
	height: 50px;
}

#header .top_Box .userTxt {
	font-family: 'nbgb';
	font-size: 14px;
}

#header .top_menu {
	position: absolute;
	right: 80px;
	top: 13px;
	font-size: 14px;
}

#header .top_menu ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 10px;
	vertical-align: middle;
}

#header .top_menu li {
	position: relative;
	float: left;
	padding: 0 10px 0 11px;
}

#header .top_menu li:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
	width: 1px;
	height: 13px;
	background-color: #fff;
	content: '';
}

#header .top_menu li:first-child:before {
	display: none;
}

#header .top_menu li a {
	display: block;
	color: #fff;
}

#header .top_menu .logbtn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 4px 14px;
	font-size: 13px;
	color: #bdbdbd;
	background-color: #17181d;
	height: 24px;
	vertical-align: middle;
	border-radius: 12px;
}

#header .inner {
	height: 88px;
}

#header h1 {
	position: absolute;
	left: 30px;
	top: 32px;
}

#header h1 img {
	height: 26px;
}

#header h1 img.ver_mo {
	display: none;
}

#header .gnb {
	padding-top: 15px;
	text-align: right;
}

#header .gnb ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

#header .gnb li {
	float: left;
	margin-left: 40px;
}

#header .gnb li a {
	position: relative;
	display: block;
	padding: 22px;
	height: 71px;
	font-size: 18px;
	color: #232732;
	font-weight: bold;
}

#header .gnb li a:after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 4px;
	background-color: #4688cc;
	content: '';
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}

#header .gnb li a.act:after {
	left: 16%;
	width: 68%;
}

#header .gnb li a.on:after {
	left: 16%;
	width: 68%;
}

#header .gnb li a.act.hide_bar:after {
	left: 50%;
	width: 0;
}

#header .top_search {
	position: absolute;
	top: 0;
	right: 30px;
	height: 50px;
	background-color: #38393d;
	z-index: 10;
}

#header .top_search input {
	display: none;
	position: absolute;
	right: 35px;
	top: 8px;
	padding: 10px 0 9px 5px;
	width: 200px;
	height: 35px;
	background-color: #17181d;
	border: 1px solid #999;
	color: #fff;
}

#header .top_search a {
	position: absolute;
	top: 0;
	right: 0;
	padding: 13px 0;
	width: 30px;
	height: 50px;
	text-align: right;
}

#header .top_search:hover {
	width: 230px;
}

#header .top_search:hover input {
	display: block;
}

#header .btn_mMenu {
	display: none;
}

#header .btn_mCart {
	display: none;
}

.head_bg {
	height: 14px;
	background: url(../images/common/bg_head.png) repeat-x center;
}

.location {
	padding-top: 20px;
	text-align: right;
	font-size: 12px;
}

.location a+a {
	position: relative;
	margin-left: 20px;
}

.location a+a:before {
	position: absolute;
	left: -14px;
	top: 50%;
	margin-top: -9px;
	content: '>'
}

.content {
	margin: 0 auto;
	max-width: 1260px;
	padding: 0 30px 70px;
}

#footer {
	font-size: 13px;
	line-height: 1.9em;
	background-color: #38393d;
}

#footer .inner {
	padding: 53px 30px 50px;
}

#footer div.fl {
	float: left;
}

#footer div.fr {
	float: right;
	width: 460px;
}

#footer .logo {
	margin-bottom: 30px;
}

#footer .foot_menu {
	margin-bottom: 10px;
	padding: 0;
}

#footer .foot_menu ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-family: 'nbgb';
	font-size: 18px;
}

#footer .foot_menu li {
	position: relative;
	float: left;
	padding-right: 6px;
	padding-left: 8px;
}

#footer .foot_menu li:before {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -7px;
	color: #fff;
	content: 'ㆍ';
}

#footer .foot_menu li:first-child {
	padding-left: 0;
}

#footer .foot_menu li:first-child:before {
	display: none;
}

#footer .foot_menu li a {
	color: #fff;
}

#footer .foot_cont {
	color: #d5d5d5;
}

#footer .foot_cont .ver_M {
	display: none;
}

#footer .foot_cont a {
	color: #ffd800;
	border-bottom: 1px solid #ffd800;
}

#footer .foot_cont p span {
	margin-right: 15px;
}

#footer .foot_cont p span em {
	color: #098bbf;
}

#footer .foot_cont p.copy {
	margin-top: 20px;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.1em;
	opacity: 0.4;
}

#footer .footer_pay {
	position: absolute;
	right: 30px;
	top: 62px;
	padding: 25px 10px 17px 28px;
	width: 310px;
	font-size: 12px;
	line-height: 1.5em;
	color: #fff;
	background-color: #454545;
	letter-spacing: -0.05em;
}

#footer .footer_pay strong {
	display: block;
	font-size: 14px;
}

#footer .footer_pay p {
	line-height: 1.5em;
}

#footer .footer_pay a {
	color: #ca8209;
	text-decoration: underline;
}

#footer .btn_top {
	display: none;
}

#footer .box_question {
	padding-top: 13px;
}

#footer .box_question ul {
	margin-bottom: 30px;
}

#footer .box_question li {
	padding-left: 20px;
	float: left;
	width: 50%;
	color: #fff;
}

#footer .box_question li.l1 {
	padding-left: 0;
	border-right: 1px solid #4c4d51;
}

#footer .box_question .txt {
	margin-bottom: 20px;
	font-size: 16px;
}

#footer .box_question .tel {
	margin-bottom: 15px;
	font-size: 28px;
}

#footer .box_question .time {
	font-size: 12px;
	opacity: 0.5;
}

#footer .box_question .time .ver_M {
	display: none;
}

#footer .box_question .qEmail {
	padding: 14px 5px;
	text-align: center;
	color: #fff;
	background-color: #2a2b2e;
}

#footer .box_question .qEmail p {
	padding-left: 30px;
	display: inline-block;
	background: url(../images/common/ico_mail.jpg) no-repeat 0 50%;
}

#footer .box_question .qEmail a {
	margin-left: 5px;
	color: #fff;
	text-decoration: underline;
}

#m_header {
	display: none;
}

.m_menu {
	position: fixed;
	left: -330px;
	top: 0;
	bottom: 0;
	overflow: auto;
	width: 260px;
	height: 100%;
	min-height: 100%;
	background: #fff;
	z-index: 120;
	text-align: center;
	-webkit-transition: left .35s;
	-moz-transition: left .35s;
	-o-transition: left .35s;
	-ms-transition: left .35s;
	transition: left .35s;
}

.m_menu.on {
	left: 0;
}

.m_menu h2 {
	margin-bottom: 30px;
	padding-top: 20px;
	font-size: 0;
}

.m_menu h2 img {
	height: 28px;
}

.m_menu .user_txt {
	margin-bottom: 30px;
}

.m_menu .q_menu {
	margin-bottom: 30px;
}

.m_menu .q_menu span {
	position: relative;
	padding-right: 8px;
	padding-left: 10px;
}

.m_menu .q_menu span:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
	width: 1px;
	height: 8px;
	background-color: #dfdfdf;
	content: '';
}

.m_menu .q_menu span:first-child:before {
	display: none;
}

.m_menu .q_menu a {
	padding: 5px 0;
}

.m_menu .depth1 {
	padding: 0 15px;
	text-align: left;
}

.m_menu .depth1>li>a {
	display: block;
	padding: 17px 5px;
	font-size: 18px;
	border-bottom: 1px solid #ebebeb;
}

.m_menu .depth2 {
	padding: 15px 0;
}

.m_menu .depth2>li>a {
	display: block;
	padding: 10px 0;
	padding-left: 15px;
	font-size: 15px;
}

.btn_menu_close {
	position: fixed;
	top: 0;
	left: -70px;
	z-index: 10;
	-webkit-transition: left .35s;
	-moz-transition: left .35s;
	-o-transition: left .35s;
	-ms-transition: left .35s;
	transition: left .35s;
}

.btn_menu_close.on {
	left: 260px;
	z-index: 110;
}

.btn_menu_close img {
	width: 40px;
	height: 40px;
}

.dimm {
	position: fixed;
	visibility: hidden;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/common/bg_gray.png) repeat 0 0;
	z-index: -1;
	opacity: 0;
	-webkit-transition: visibility .5s, opacity .5s linear;
	-moz-transition: visibility .5s, opacity .5s linear;
	-o-transition: visibility .5s, opacity .5s linear;
	-ms-transition: visibility .5s, opacity .5s linear;
	transition: visibility .5s, opacity .5s linear;
}

.dimm.on {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}

/* prod_lst */
.prod_lst>ul>li {
	background: #fff;
}

.prod_lst .prod_type {
	background-color: #FFF;
}

/* ico_label */
.ico_label {
	display: table-cell;
	padding: 0 1px;
	width: 38px;
	height: 42px;
	line-height: 1.2em;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
	color: #fff;
	border-radius: 2px;
}

.ico_label.typeC {
	background-color: #333;
}

.ico_label.typeD {
	background-color: #000;
}

/* 1120 */
@media only all and (max-width:1120px) {
	#footer div.fl {
		width: 420px;
	}
}

/* tablet */
@media only all and (max-width:1024px) {
	#wrap {
		padding-top: 45px;
	}
	#header .top_Box {
		display: none;
	}
	#header .inner {
		height: 44px;
	}
	#header h1 {
		left: 50%;
		top: 15px;
		margin-left: -62px;
	}
	#header h1 img.ver_web {
		display: none;
	}
	#header h1 img.ver_mo {
		display: block;
	}
	#header h1 img {
		height: 13px;
	}
	#header .gnb {
		display: none;
	}
	#header .top_menu {
		display: none;
	}
	#header .top_search {
		display: none;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
	}
	#header .top_search.m_on {
		display: block;
		position: absolute;
		left: 0;
		top: 45px;
		width: 100%;
		z-index: 110;
	}
	#header .top_search.m_on a {
		padding-top: 10px;
		padding-left: 10px;
	}
	#header .top_search.m_on a img {
		width: 15px;
		height: 15px;
	}
	#header .btn_mMenu {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 50px;
		height: 45px;
		background: url(../images/common/btn_mMenu.png) no-repeat 15px 15px;
		background-size: 20px auto;
	}
	#header .btn_mCart {
		display: block;
		position: absolute;
		right: 15px;
		top: 0;
		padding: 19px 0 0 26px;
		width: 44px;
		height: 44px;
		color: #000;
		font-size: 9px;
		font-weight: bold;
		text-align: center;
		background: url(../images/common/btn_mCart.png) no-repeat 26px 12px;
		background-size: 18px 22px;
	}
	#header .btn_mSearch {
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 45px;
		background: url(../images/common/btn_mSearch.png) no-repeat 0 15px;
		background-size: 15px;
	}
	#footer .inner {
		padding: 25px 15px;
	}
	#footer .foot_cont {
		padding-right: 0;
	}
	#footer .footer_pay {
		position: inherit;
		right: inherit;
		top: inherit;
		margin-top: 10px;
	}
	.head_bg {
		height: 8px;
		background-image: url(../images/common/bg_head_m.png);
	}
	.location {
		display: none;
	}
	.content {
		padding: 0 0 50px;
	}
	#footer div.fl {
		float: none;
		padding-top: 20px;
		width: auto;
		border-top: 1px solid #4c4d51;
	}
	#footer div.fr {
		float: none;
		margin-bottom: 20px;
		width: auto;
	}
	#footer .box_question {
		padding-top: 0;
	}
	#footer .box_question ul {
		margin-bottom: 15px;
	}
	#footer .box_question li {
		padding-left: 15px;
	}
	#footer .box_question .txt {
		margin-bottom: 10px;
		font-size: 11px;
	}
	#footer .box_question .tel {
		margin-bottom: 10px;
		font-size: 18px;
	}
	#footer .box_question .time {
		font-size: 11px;
		line-height: 1.5em;
	}
	#footer .box_question .time .ver_M {
		display: block;
	}
	#footer .box_question .qEmail {
		padding: 11px 0;
		font-size: 11px;
	}
}

/* mobile */
@media only all and (max-width:768px) {
	body {
		font-size: 13px;
		line-height: 1.5;
	}
	input[type="text"], input[type="tel"], input[type="password"] {
		padding: 8px 0 7px 8px;
		height: 32px;
		font-size: 13px;
	}
	.btn {
		padding: 8px 3px;
		font-size: 12px;
		padding-right: 2px;
		line-height: 14px;
		padding-left: 2px;
		min-width: 80px;
	}
	button.btn {
		font-size: 14px;
	}
	textarea {
		font-size: 13px;
	}
	.processBtn .btn {
		padding: 12px 0;
		width: 100%;
		margin-left: 0;
		font-size: 13px;
		line-height: 14px;
	}
	.processBtn.v2 .btn {
		float: left;
		margin-left: 2%;
		width: 49%;
		min-width: inherit;
	}
	.processBtn.v2 .btn:first-child {
		margin-left: 0;
	}
	.processBtn.v3 .btn {
		float: left;
		margin-left: 2%;
		width: 32%;
		min-width: inherit;
	}
	.processBtn.v3 .btn:first-child {
		margin-left: 0;
	}
	button.btn {
		padding: 10px 2px 10px;
	}
	.btn_more {
		padding: 4px 16px 4px 6px;
		line-height: 1;
		font-size: 10px;
	}
	.btn_more:after {
		margin-top: -4px;
		width: 4px;
		height: 8px;
		background-image: url(../images/sub/bg_btn_more_m.png);
		background-size: 4px 8px;
	}

	/* selectric */
	.dSelect select {
		padding-right: 15px;
		padding-left: 8px;
		height: 32px;
		line-height: 32px;
		font-size: 12px;
		background-image: url(../images/common/bg_select_m.gif);
		background-size: 13px auto;
	}
	#footer {
		font-size: 11px;
		line-height: 1.7em;
	}
	#footer .logo {
		margin-bottom: 15px;
	}
	#footer .logo img {
		height: 13px;
	}
	#footer .foot_menu {
		margin-bottom: 10px;
	}
	#footer .foot_menu ul {
		font-size: 12px;
		font-family: 'nbg';
	}
	#footer .foot_menu li:before {
		margin-left: -5px;
	}
	#footer .foot_menu .str {
		font-family: 'nbgb';
	}
	#footer .foot_cont .ver_W {
		display: none;
	}
	#footer .foot_cont .ver_M {
		display: block;
	}
	#footer .foot_cont p {
		padding-bottom: 15px;
	}
	#footer .foot_cont p.copy {
		margin-top: 0;
		padding-bottom: 0;
		font-size: 11px;
		font-family: 'nbg';
		letter-spacing: 0;
	}
	#footer .footer_pay {
		padding: 10px;
		font-size: 10px;
		width: 100%;
	}
	#footer .footer_pay strong {
		font-size: 11px;
		line-height: 1.5em;
	}
	#footer .footer_pay p {
		display: inline;
		padding: 2px 0;
		line-height: 1.5em;
	}
	#footer .footer_pay a {
		text-decoration: none;
	}
	#footer .btn_top.act {
		display: block;
		position: fixed;
		right: 15px;
		bottom: 15px;
		padding-top: 6px;
		width: 45px;
		height: 31px;
		font-size: 15px;
		color: #fff;
		text-align: center;
		background-color: #4688cc;
		z-index: 1000;
	}
	#footer .btn_top.bot {
		position: absolute;
		top: -8px;
		bottom: inherit;
	}
}

@media only all and (max-width:640px) {
}

@media only all and (max-width:360px) {
	#footer .foot_cont {
		letter-spacing: -0.04em;
	}
}