@charset "utf-8";

.span_hide {
	display: none;
}

.checkbox_ap {
	
}

.checkbox_ap label {
	
}

.checkbox_ap label span {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 17px;
	margin: -1px 8px 0 0;
	vertical-align: middle;
	text-align: left;
	background: url(../images/common/bg_checkbox.png) no-repeat 0 0
}

.checkbox_ap label span input {
	position: relative;
	width: 1px;
	height: 1px;
	margin: 3px;
	line-height: 0;
	font-size: 0;
	z-index: -10;
	display: none;
}

.checkbox_ap label.active span {
	background-position: 0 -100px
}

.checkbox_ap label.disabled {
	background-position: 0 -200px;
	cursor: not-allowed
}

.checkbox_ap label.disabled span {
	background-position: 0 -200px;
	cursor: not-allowed
}

.checkbox_ap label span.img {
	background: none
}

.checkbox_ap input {
	display: none;
}

.checkbox_ap.s label {
	font-size: 12px;
}

.checkbox_ap.s label span {
	width: 17px;
	height: 17px;
	margin-right: 5px;
	background: url(../images/common/bg_checkboxS.png) no-repeat 0 0;
}

.checkbox_ap.s label.active span {
	background-position: 0 -100px
}

.hidden {
	display: none
}

.cm_popup_wrap .cm_popup_content {
	background: #fff
}

.cm_popup_wrap .cm_popup_content .pop-inner {
	padding: 0 35px
}

.cm_popup_wrap .head {
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #d9d9d9
}

.cm_popup_wrap .head h1.title {
	font-size: 18px;
	font-weight: bold;
	color: #333
}

.cm_popup_wrap .cm_popup_content .pop-inner {
	padding: 0 35px
}

.cm_popup_wrap .content {
	padding: 30px 0
}

.cm_popup_wrap .btn_modalpopupClose {
	display: block;
	position: absolute;
	width: 38px;
	height: 38px;
	top: -38px;
	right: -38px;
	font-size: 0;
	background: url(../images/common/btnClose.png) no-repeat -300px 0
}

.cm_popup_wrap .popbtn.prev {
	left: 50%;
	margin-left: -536px;
	background-position: 0 -500px
}

.cm_popup_wrap .popbtn.next {
	left: 50%;
	margin-left: 422px;
	background-position: -100px -500px
}

.cm_popup_wrap .head_daily {
	width: 85%;
	padding: 20px 0;
	border-bottom: 1px solid #d9d9d9;
	margin-left: 7%;
}

.cm_popup_wrap .head_daily h1.title {
	font-size: 18px;
	font-weight: bold;
	color: #333
}

.cm_popup_wrap .popupTesterMission {
	margin: 0 auto;
	padding: 8px 35px;
}

.ui-iframe-style {
	margin: 50px auto
}

.common_layer_popup {
	display: none;
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}

.common_layer_popup iframe body { /*margin-top: -50px;*/
	
}

.common_layer_popup .pop_con {
	position: absolute;
	width: 760px;
	top: 50%;
	left: 50%;
	margin: 50px 0;
	padding: 40px;
	background: #fff
}

.common_layer_popup .btn_popClose {
	display: block;
	position: absolute;
	width: 31px;
	height: 31px;
	top: 9px;
	left: 50%;
	font-size: 0;
	background: url(../images/common/btn_popclose.gif) no-repeat;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	transition-duration: .4s;
}

.common_layer_popup .btn_popClose:hover {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

#common_layer_popupBg {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../images/common/bg_cover.png') repeat;
	z-index: 1000
}

/*popup*/
body.pop_open {
	overflow: hidden;
	height: 100%;
}

.pop_wrap_dialog {
	display: none;
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1001
}

.pop_wrap_dialog::-webkit-scrollbar {
	display: none;
}

.pop_wrap_dialog .pop_con {
	top: 50%;
	left: 50%;
	padding: 40px;
	background: #fff
}

.pop_wrap_dialog .btn_popClose {
	display: block;
	position: absolute;
	width: 31px;
	height: 31px;
	top: -40px;
	right: 0;
	font-size: 0;
	background: url(../images/common/btn_popclose.gif) no-repeat;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	transition-duration: .4s;
}

.pop_wrap .btn_popClose:hover {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*popup*/
body.pop_open {
	overflow: hidden;
	height: 100%;
}

.pop_wrap_dialog2 {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1001
}

.pop_wrap_dialog2 .pop_con {
	padding: 40px;
	background: #fff
}

.pop_wrap_dialog2 .btn_popClose {
	display: block;
	position: absolute;
	width: 31px;
	height: 31px;
	top: -40px;
	right: 0;
	font-size: 0;
	background: url(../images/common/btn_popclose.gif) no-repeat;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	transition-duration: .4s;
}

.pop_wrap2 .btn_popClose:hover {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.cm_popup_wrap .prod_type.horz150 .thumb {
	top: 10px;
	left: 10px;
}

#pop_addAddress .pop_con {
	width: 570px;
}

#pop_addAddress .pop_con .edit_con {
	padding: 20px 0;
}

#pop_addAddress .pop_con .edit_con .tab_type.l-2 ul li {
	width: 245px
}

#pop_addAddress .pop_con .edit_con .tab_type.l-2 ul li:first-child {
	width: 246px;
}

#pop_addAddress .delivery_box {
	width: 448px;
}

/* messageBox */
#commonMessageBox {
	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 1030;
}

#commonMessageBox .btn_layer_close {
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 20px;
	right: 28px;
	font-size: 0;
	background: url(../images/sub/btn_modalpopupClose.png) no-repeat;
}

#commonMessageBox p.caution {
	line-height: 1.5em;
	text-align: center;
	color: #666;
}

#commonMessageBox .submit-a {
	margin-top: 30px;
	text-align: center;
}

#commonMessageBox .submit-a a {
	width: 80px;
}

#commonMessageBox .pop-inner {
	padding: 0;
}

#commonMessageBox .head {
	width: 100%;
	padding: 20px 30px;
	background: #f9f9f9;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}

#commonMessageBox .head h1.title {
	font-size: 20px;
	font-weight: 700;
	color: #222;
}

#commonMessageBox .content {
	padding: 30px;
}

#commonMessageBox .txt_message {
	margin-top: 25px;
	text-align: center;
	font-weight: 700;
	color: #222;
}

#commonMessageBox .popbtn {
	position: fixed;
	top: 50%;
	display: block;
	width: 98px;
	height: 98px;
	margin-top: -49px;
	background: url(../images/common/sp_arrow.png) no-repeat 0 -500px;
	z-index: 110
}

#commonMessageBoxBg {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity : '70');
	z-index: 1001;
}

#commonConfirmBox {
	display: none;
	position: absolute;
	background: #fff;
	margin: 0;
	z-index: 1032;
}

#commonConfirmBox .btn_popClose {
	display: block;
	position: absolute;
	width: 22px;
	height: 22px;
	top: 20px;
	right: 28px;
	font-size: 0;
	background: url(../images/sub/btn_modalpopupClose.png) no-repeat 0 0;
}

#commonConfirmBox .head {
	padding: 20px 30px;
	background: #f9f9f9;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}

#commonConfirmBox .head .ttl {
	font-size: 20px;
	font-weight: 700;
	color: #222;
}

#commonConfirmBox .head>.desc {
	margin-top: 5px;
}

#commonConfirmBox .edit_con {
	padding: 30px;
}

#commonConfirmBox .txt_confirm {
	margin-top: 25px;
	text-align: center;
	font-weight: 700;
	color: #222;
}

#commonConfirmBox .btn_area.center {
	margin-top: 30px;
	text-align: center;
}

#commonConfirmBoxBg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity : '70');
	z-index: 1001;
}

.ingredientScroll {
	height: 49px;
	width: 469px;
	border: 1px solid #e2e2e2;
	overflow: hidden;
}

.ingredientScroll .innerScroll {
	padding: 8px 17px 6px;
}

.ingredientScroll h3 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 12px;
	color: #333;
}

.ingredientScroll p {
	line-height: 16px;
	font-size: 11px;
	color: #999;
}

div.tooltipBox2 {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 28px;
	background: url(../images/common/bg_tooltip3.png) no-repeat 0 0;
	z-index: 10
}

div.tooltipBox2>span {
	display: inline-block;
	padding: 6px 12px 0 12px;
	height: 22px;
	line-height: 1.3;
	text-align: left;
	font-size: 11px;
	color: #fff;
	white-space: nowrap;
	background: url(../images/common/bg_tooltip3.png) no-repeat right top
}

div.tooltipBox2>span em {
	display: block
}

#option_ttl {
	display: none;
	position: absolute;
	padding: 1px 5px;
	font-size: 12px;
	color: #fff;
	background: #000;
	white-space: nowrap;
	z-index: 101;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#option_ttl span.arr {
	position: absolute;
	bottom: -2px;
	left: 12px;
	width: 4px;
	height: 2px;
	background: url(../images/common/arr_bool.gif) no-repeat;
}

a.ico_order_wish.active {
	color: #ee2d7a;
	background: url(../images/common/ico_wish_orderActive.png) no-repeat
		left center;
}

a.ico_order_wish.active:hover {
	background: url(../images/common/ico_wish_orderActive.png) no-repeat
		left center;
}

.content_full {
	width: auto;
}

#prodInfo .prodCon .img_lst img {
	max-width: inherit;
}

.dash_bt {
	width: 100%;
	max-width: 1100px;
	border-bottom: 1px solid #999;
}

.dash_t {
	width: 100%;
	max-width: 1100px; /*border-top:1px solid #999;*/
	margin-top: 30px;
}

.header_nation_list {
	width: 195px;
}

.prod_detail .order_box p.name {
	display: inline-block;
}

.prod_detail .order_box .remain+p.name {
	padding-right: 5px;
	width: 68%;
}

.prod_detail .order_box .remain {
	font-weight: 700;
	color: #e72457;
	padding: 9px 12px 0 0;
	text-align: right;
	display: block;
	float: right; /* width:35%; */
}

.prod_detail .prod_info dt {
	width: 28%;
}

.prod_detail .prod_info dd {
	width: 70%;
}

.prod_detail .order_total .btn .btn_type02 {
	width: 49%;
}

.prod_detail .options .op_color .op_info ul li {
	padding-right: 17px;
	width: auto;
}

.prod_detail .options .op_color .op_info ul li:first-child {
	width: auto;
}

.prod_detail .options .op_color .op_info ul li:last-child {
	width: auto;
}

/* 160225 추가 */
#prodInfo .tab_type.small>ul>li:first-child a {
	letter-spacing: 0;
}

.estimated_shipping {
	display: inline-block;
	padding: 0.5em 0 0 0;
}

#header .lnb .inner .util ul li a.util_special.active {
	color: #ee2d7a;
	background: url(../images/common/ico_util_special_on.png) no-repeat left
		2px;
}

#header .lnb .inner .util ul li a.util_review.active {
	color: #ee2d7a;
	background: url(../images/common/ico_util_review_on.png) no-repeat left
		2px;
}

#header.fix .lnb .inner .util ul li a.util_special.active {
	color: #ee2d7a;
	background: url(../images/common/ico_util_special_on.png) no-repeat left
		0px;
}

#header.fix .lnb .inner .util ul li a.util_review.active {
	color: #ee2d7a;
	background: url(../images/common/ico_util_review_on.png) no-repeat left
		0px;
}

.best_review .brand_scroll ul li a.active {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-filter: grayscale(0); /* Webkit */
	filter: none; /* IE6-9 */
	filter: grayscale(0); /* W3C */
}

/* DHLEE : 160307 상품상세 옵션 박스 css 추가*/
.no_link_option_color {
	display: block;
	position: relative;
	overflow: visible;
	float: left;
	margin: 0 4px 4px 0;
}

.no_link_option_color:after {
	display: block;
	content: '';
	clear: both
}

.no_link_option_color a:after {
	content: '';
	display: block;
	clear: both;
}

.no_link_option_color span.color {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	*zoom: 1
}

.no_link_option_color span.color img {
	width: 24px;
}

.option_color span.color img {
	height: 24px;
}

.no_link_option_volume {
	display: block;
	position: relative;
	overflow: visible;
	float: left;
	height: 20px;
	margin: 0 4px 4px 0;
	border: 1px solid #e8e8e8;
}

.no_link_option_volume:after {
	display: block;
	content: '';
	clear: both
}

.no_link_option_volume a:after {
	content: '';
	display: block;
	clear: both;
}

.no_link_option_volume span.vol {
	display: block;
	float: left;
	height: 22px;
	padding: 0 20px;
	line-height: 22px;
	font-size: 12px;
}

/* 상품상세리뷰 no-data */
#div_useReview_nonData {
	padding: 19px 0 10px 0;
	margin-top: 30px;
	border-top: 1px solid #999;
}

@media screen and (max-width: 1023px) {
	.prod_detail .no_link_option_color {
		margin: 0 10px 10px 0
	}
	.prod_detail .no_link_option_color.active {
		height: 30px
	}
	.prod_detail .no_link_option_color span.color {
		width: 30px;
		height: 30px;
	}
	.prod_detail .no_link_option_color span.color img {
		width: auto;
		height: 30px;
	}
	.prod_detail .no_link_option_volume {
		margin: 0 6px 6px 0
	}

	/*  상품상세  */
	.prod_detail .order_box .remain {
		padding: 2px 0 0 0;
	}
}
/* [E]DHLEE : 160307 상품상세 옵션 박스 css 추가*/
@media screen and (max-width: 767px) {
	.banner_type.line-2 div.inner {
		background-size: cover !important;
	}
}
/* .event_view .side_content .m_display img{height: auto !important;width: auto !important;} */

/* 로딩바 */
.preloader_wrap {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: 2000;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.preloader_wrap .cont {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90px;
	height: 90px;
	margin: -45px 0 0 -45px;
	border-radius: 50%;
	background: #fff;
}

.preloader_wrap .cont span {
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #fff url(/images/common/preloader.png) no-repeat center 0;
	background-size: 70px auto;
	-webkit-perspective: 1000;
	perspective: 1000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.preloader_wrap .cont span:nth-of-type(1) {
	background-position: 0 0;
	z-index: 10;
	-webkit-animation: spin 2.4s infinite;
	animation: spin 2.4s infinite
}

.preloader_wrap .cont span:nth-of-type(2) {
	background-position: 0 -70px;
	z-index: 1;
	-webkit-transform: perspective(0px) rotateY(-90deg);
	-webkit-animation: spin 2.4s .6s infinite;
	animation: spin 2.4s .6s infinite
}

.preloader_wrap .cont span:nth-of-type(3) {
	background-position: 0 -140px;
	z-index: 1;
	-webkit-transform: perspective(0px) rotateY(-90deg);
	-webkit-animation: spin 2.4s 1.2s infinite;
	animation: spin 2.4s 1.2s infinite
}

.preloader_wrap .cont span:nth-of-type(4) {
	background-position: 0 -210px;
	z-index: 1;
	-webkit-transform: perspective(0px) rotateY(-90deg);
	-webkit-animation: spin 2.4s 1.8s infinite;
	animation: spin 2.4s 1.8s infinite
}

@
-webkit-keyframes spin { 0% {
	z-index: 10;
	-webkit-transform: perspective(0px) rotateY(-90deg);
}
12%
{
z-index
:
100;-webkit-transform
:perspective(0px)
 
rotateY
(0deg);
}
24%
{
z-index
:
0;-webkit-transform
:perspective(0px)
 
rotateY
(-90deg);
}
100%
{
z-index
:
0;-webkit-transform
:perspective(0px)
 
rotateY
(-90deg);
}
}